<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/goblin2_attack1_0/goblin2_attack1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{33,55}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{33,55}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_0/goblin2_attack1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,338},{37,51}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{37,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_0/goblin2_attack1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,59},{41,53}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{41,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_0/goblin2_attack1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{45,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_0/goblin2_attack1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{33,51}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{33,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_0/goblin2_attack1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,118},{43,53}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{43,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_0/goblin2_attack1_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,61},{37,55}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{37,55}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,147},{29,23}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,41},{29,23}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_1/goblin2_attack1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,391},{37,51}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{37,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_1/goblin2_attack1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,338},{37,51}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{37,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_1/goblin2_attack1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,444},{35,51}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{35,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_1/goblin2_attack1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,422},{33,47}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{33,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_1/goblin2_attack1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,236},{53,47}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{53,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_1/goblin2_attack1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,401},{51,51}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{51,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_1/goblin2_attack1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,454},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{45,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,196},{29,25}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,41},{29,25}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_2/goblin2_attack1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,455},{39,43}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{39,43}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_2/goblin2_attack1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{41,45}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{41,45}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_2/goblin2_attack1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,153},{37,47}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{37,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_2/goblin2_attack1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,314},{39,47}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{39,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_2/goblin2_attack1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{55,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{55,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_2/goblin2_attack1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,104},{41,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{41,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_2/goblin2_attack1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,306},{45,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{45,45}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,249},{29,25}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,40},{29,25}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_3/goblin2_attack1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,410},{37,45}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{37,45}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_3/goblin2_attack1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,410},{39,43}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{39,43}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_3/goblin2_attack1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,51},{41,45}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{41,45}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_3/goblin2_attack1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,114},{51,41}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{51,41}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_3/goblin2_attack1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,155},{41,47}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{41,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_3/goblin2_attack1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,51},{33,47}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{33,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_3/goblin2_attack1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,100},{35,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{35,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,300},{29,25}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,41},{29,25}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_7/goblin2_attack1_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,456},{37,53}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{37,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_7/goblin2_attack1_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,291},{39,53}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{39,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_7/goblin2_attack1_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{41,57}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{41,57}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_7/goblin2_attack1_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,57}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,57}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_7/goblin2_attack1_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,232},{51,43}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,13},{51,43}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_7/goblin2_attack1_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{41,49}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{41,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_7/goblin2_attack1_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,291},{33,53}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{33,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>attack/goblin2_attack1_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,353},{31,25}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,37},{31,25}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>cheer/goblin2_cheer1_0/goblin2_cheer1_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{33,55}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{33,55}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>cheer/goblin2_cheer1_0/goblin2_cheer1_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{33,55}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{33,55}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>cheer/goblin2_cheer1_0/goblin2_cheer1_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,444},{33,51}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{33,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>cheer/goblin2_cheer1_0/goblin2_cheer1_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,391},{33,51}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{33,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>cheer/goblin2_cheer1_0/goblin2_cheer1_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,346},{35,53}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{35,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>cheer/goblin2_cheer1_0/goblin2_cheer1_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{35,55}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{35,55}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>cheer/goblin2_cheer1_0/goblin2_cheer1_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{33,57}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{33,57}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>cheer/goblin2_cheer1_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,147},{29,23}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,41},{29,23}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>idle/goblin2_idle_0/goblin2_idle_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{33,55}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{33,55}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>idle/goblin2_idle_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,147},{29,23}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,41},{29,23}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_0/goblin2_run_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,214},{39,49}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{39,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_0/goblin2_run_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,161},{35,51}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{35,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_0/goblin2_run_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,220},{35,51}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{35,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_0/goblin2_run_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,279},{35,51}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{35,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_0/goblin2_run_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,108},{37,51}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{37,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_0/goblin2_run_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,401},{37,53}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{37,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_0/goblin2_run_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{39,53}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{39,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_0/goblin2_run_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,226},{39,51}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{39,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_0/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,333},{29,25}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,37},{29,25}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_1/goblin2_run_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,100},{41,45}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{41,45}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_1/goblin2_run_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,373},{39,47}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_1/goblin2_run_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,285},{39,51}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{39,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_1/goblin2_run_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,177},{43,53}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{43,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_1/goblin2_run_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,208},{41,47}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{41,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_1/goblin2_run_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,273},{39,49}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{39,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_1/goblin2_run_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{39,49}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{39,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_1/goblin2_run_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,471},{39,45}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{39,45}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_1/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,300},{31,23}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,41},{31,23}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_2/goblin2_run_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,457},{43,43}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{43,43}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_2/goblin2_run_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,202},{43,45}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{43,45}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_2/goblin2_run_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,324},{43,47}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{43,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_2/goblin2_run_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{45,51}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{45,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_2/goblin2_run_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,55},{45,49}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{45,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_2/goblin2_run_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,363},{45,45}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{45,45}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_2/goblin2_run_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,149},{41,45}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{41,45}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_2/goblin2_run_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,253},{43,45}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{43,45}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_2/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,417},{29,25}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,40},{29,25}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_3/goblin2_run_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,204},{37,47}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{37,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_3/goblin2_run_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{39,47}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_3/goblin2_run_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,53},{37,49}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{37,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_3/goblin2_run_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,167},{37,51}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{37,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_3/goblin2_run_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,104},{37,49}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{37,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_3/goblin2_run_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,51},{39,47}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{39,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_3/goblin2_run_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,265},{41,47}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_3/goblin2_run_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,53},{39,49}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{39,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_3/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,353},{31,25}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,42},{31,25}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_7/goblin2_run_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,257},{37,47}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{37,47}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_7/goblin2_run_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,55},{39,51}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{39,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_7/goblin2_run_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,157},{37,49}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{37,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_7/goblin2_run_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,346},{37,53}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{37,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_7/goblin2_run_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{39,51}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{39,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_7/goblin2_run_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,120},{39,55}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{39,55}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_7/goblin2_run_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,173},{41,51}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{41,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_7/goblin2_run_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,106},{39,49}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{39,49}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>walk/goblin2_run_7/unitshadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,386},{29,25}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,39},{29,25}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Goblin2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{418,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6dfed1b1773ee7dc43830c6772481d0$</string>
            <key>textureFileName</key>
            <string>Goblin2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
